<div class="row align-items-center" id="skills">

  <div class="col py-3 text-center">
    <h2 class="py-2">Ferramentas e tecnologias</h2>

    <div class="row">
      {% for skillCategory in site.data.skills %}
        <div class="col-sm-6 col-md-3 pb-3">
          <div class="card">
            <div class="card-header">{{ skillCategory.title }}</div>
              {% for skill in skillCategory.items %}
                <div class="card skill rounded-0 border-top-0" title="{{ skill.title }}">
                  <div class="row align-items-center justify-content-around no-gutters">
                    <div class="col-4 py-1 logo">
                      <img src="assets/img/skills/{{ skillCategory.id }}/{{ skill.icon }}"
                        class="img-fluid p-1"
                        alt="{{ skill.title }} logo">
                    </div>
                    <div class="col-auto text-truncate">
                      <div class="card-body">
                        <h5 class="card-title m-0 text-truncate">{{ skill.title }}</h5>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>

  </div>
</div>
