<div class="row align-items-center" id="skills">

  <div class="col py-3 text-center">
    <h2 class="py-2">Ferramentas e tecnologias</h2>

    <div class="row">
      {% for skillCategory in site.data.skills %}
        <div class="col-sm-6 col-lg-3 pb-3">
          <div class="card bg-transparent">
            <div class="card-header bg-light position-sticky">
              {{ skillCategory.title }}
            </div>
            <div class="card-body">
              <div class="row justify-content-around align-items-center">
                {% for skill in skillCategory.items %}
                  <div class="col-auto py-2 skill">
                    <div class="card border-0 shadow-sm">
                      <div class="card-body logo">
                        <img
                          src="assets/img/skills/{{ skillCategory.id }}/{{ skill.icon }}"
                          class="img-fluid"
                          alt="{{ skill.title }} logo">
                      </div>
                      <div class="card-footer bg-transparent py-1">
                        <small class="text-truncate">
                          {{ skill.title }}
                        </small>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

  </div>
</div>
